// COLORS ======================== //
$color-black: #0c0c0c;
$color-white: #fff;
$color-orange: #F16136;
$color-gray-1: #DFDFDF;
// FONTS ======================== //
$font-1: 'Hind';
$font-2: 'Biennale';
$font-3: 'Poppins';
// ANIMATION ======================== //
$transition_3s: all 0.3s ease-in-out;
$transition_7s: all 0.7s ease-in-out;